<% include ./partials/header.ejs %>

    <div class="home-page1 w-full bg-blue-20">
        <div class=" main-heading">
            <h1>Get your next</h1>
            <h2> Superheroes | Villains | Fantasy | and Many More... </h2>
        </div>
        <div id="home" class="bg-green-50 ">

            <div id="image" class=" first-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/564x/bd/00/32/bd0032a35240c55aa6ea163eea0e58b2.jpg" alt="">
            </div>
            <div id="image" class=" second-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/564x/6f/42/01/6f42016e73558dece6c08f36eebb9544.jpg" alt="">
            </div>
            <div id="image" class=" third-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/236x/f8/0a/4f/f80a4fe4a6bb094df0a3bfabd5194541.jpg" alt="">
            </div>
            <div id="image" class=" center-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/236x/82/72/8d/82728d280129d97b598b9aae488a98fb.jpg" alt="">
            </div>
            <div id="image" class=" third-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/236x/ab/de/4b/abde4b79e02392731ce6bc314402da2a.jpg" alt="">
            </div>
            <div id="image" class=" second-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/474x/58/1b/e0/581be08e10aa507e2b42f22749aac99e.jpg" alt="">
            </div>
            <div id="image" class=" first-box rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/236x/5e/98/35/5e98355317ad1c3fcfac069ee7ffd241.jpg" alt="">
            </div>

        </div>



    </div>

    <!-- Page 2 Start... -->
    <div class="home-page2">
        <h4 class="text-center m-[%] pt-3 pb-7 font-[Roboto] font-[500]"> Here’s how it works ▼</h4>
        <div class="sec">
            <div class="sec-1">
                <img src="/images/food.png" alt="">
                <div class="search"> <i class="ri-search-line text-dark"></i> easy chicken dinner </div>
            </div>
            <div class="sec-2">
                <!-- <h1>Hello</h1> -->
                <div class="content">
                    <h1>Search for an idea</h1>
                    <p>What do you want to try next? Think of something you’re into—like “easy chicken dinner”—and see
                        what you <span>find.</span>
                    </p>
                    <button>Explore</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Page 3 Start... -->
    <div class="home-page3">

        <div class="sec">
            <div class="sec-1">
                <!-- <h1>Hello</h1> -->
                <div class="content">
                    <h1>See it, make it,</h1>
                    <h1> try it, do it</h1>
                    <p>The best part of Pinterest is discovering new things and ideas from people around the world. </p>
                    <button>Explore</button>
                </div>
            </div>
            <div class="sec-2">
                <img class="rounded-lg" src="https://s.pinimg.com/webapp/shop-de8ddf10.png" alt="">
                <!-- <div class="overlay rounded-lg">
                    <div class="text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tenetur voluptatibus numquam veniam enim expedita perspiciatis, cumque, totam pariatur quis quos rerum quo placeat esse, minus facere voluptas laudantium consequuntur!</div>
                  </div> -->
            </div>
        </div>

    </div>

    <% include ./partials/footer.ejs %>